*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Inter,Arial,sans-serif;
background:#050505;
color:white;
overflow-x:hidden;
}

#stars{
position:fixed;
inset:0;
z-index:-2;
}

nav{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 7%;
display:flex;
justify-content:space-between;
align-items:center;
backdrop-filter:blur(20px);
background:rgba(5,5,5,.3);
border-bottom:1px solid rgba(255,255,255,.08);
z-index:1000;
}

.logo{
font-size:34px;
font-weight:900;

background:linear-gradient(
90deg,
#00e5ff,
#8b5cf6
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.nav-btn,
.cta,
.footer-btn{

text-decoration:none;
color:white;

padding:16px 28px;

border-radius:18px;

background:
linear-gradient(
90deg,
#8b5cf6,
#00e5ff
);

font-weight:700;

transition:.3s;
}

.nav-btn:hover,
.cta:hover,
.footer-btn:hover{

transform:translateY(-3px);

box-shadow:
0 0 40px rgba(139,92,246,.6);
}

.hero{

position:relative;

min-height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:20px;
overflow:hidden;
}

.hero-bg-text{

position:absolute;

font-size:28vw;

font-weight:900;

opacity:.03;

user-select:none;

pointer-events:none;
}

.hero h1{

font-size:clamp(90px,16vw,220px);

font-weight:900;

line-height:.9;

background:
linear-gradient(
90deg,
white,
#00e5ff,
#8b5cf6
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero h2{

font-size:clamp(30px,5vw,70px);

margin-top:20px;

font-weight:800;
}

.hero p{

margin-top:25px;

max-width:800px;

font-size:22px;

opacity:.85;

line-height:1.6;
}

.cta{
margin-top:40px;
}

.glow{

position:absolute;

width:800px;
height:800px;

background:#8b5cf6;

opacity:.15;

filter:blur(250px);

border-radius:50%;
}

.feature{

position:relative;

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px 20px;
}

.number{

position:absolute;

font-size:22vw;

font-weight:900;

opacity:.04;
}

.feature h2{

font-size:clamp(
50px,
8vw,
120px
);

font-weight:900;

z-index:2;
}

.feature p{

max-width:800px;

font-size:24px;

line-height:1.6;

margin-top:20px;

opacity:.8;

z-index:2;
}

footer{

padding:120px 20px;

text-align:center;

border-top:
1px solid rgba(255,255,255,.08);
}

footer h3{

font-size:80px;

font-weight:900;

margin-bottom:20px;
}

footer p{

font-size:22px;

opacity:.75;

margin-bottom:40px;
}

@media(max-width:768px){

.nav-btn{
display:none;
}

.hero p{
font-size:18px;
}

.feature p{
font-size:18px;
}

footer h3{
font-size:50px;
}

}
